name: publish-base-image

on:
  push:
    branches: [main]
  workflow_dispatch: # manual button

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # built-in token, no PAT needed

      - name: Build & push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/yvkibira/laravel-base:latest
            ghcr.io/yvkibira/laravel-base:php83-v1
